body {
  padding-top: 50px;
}
div.starter-template {
  padding: 10px 15px;
  text-align: center;
  width: 100%;
  font-size: 15px;
}
div.text-left {
    text-align: left;
}

.frick  { background-color: #d9534f; }
.met { background-color: #428bca; } 
.moma { background-color:  #5cb85c; } 
.whitney { background-color: #f0ad4e; } 

.twitter-typeahead .tt-dropdown-menu {
    left: auto !important;
    right: auto !important;
    text-align: left;

    width: 422px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.table {
    color: #000;
}

div.left{
    float:left;
}

div.right{
    float:right;
}


div.btn{
    margin-bottom:0px;
}

.custom_long{
    width: 250px !important;
}
.custom_short{
    width: 110px !important;
}

.fixed-cell {
    min-width: 40px;
    min-height: 20px;
    margin: 5px;
    position: fixed;
    text-align: center;
    border: #969696 solid thin;
    padding: 5px;
}
